build/**/*

.DS_Store
*.swp
*~.nib

.xcodeproj/
!*.xcodeproj/project.pbxproj

*.mode1v3
*.mode2v3

xcuserdata

EcoZico/EcoZico.xcodeproj/project.xcworkspace/xcuserdata/brennon.xcuserdatad/UserInterfaceState.xcuserstate